<!DOCTYPE html>
<html>
    <header>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        
    </header>
    <body>
        <div id="app">
            <nav class="navbar navbar-dark bg-dark">
                <a class="navbar-brand" href="#">{{title}}</a>
            </nav>

            <h1>Active iBeacon List</h1>
            <div class="container-fluid">
                <table class="table table-dark table-striped">
                    <thead>
                      <tr>
                        <th>id</th>
                        <th>rssi</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="beacon in iBeacons">
                        <td>{{beacon.id}}
                            <span v-if="checkNew(beacon.id) == true" class="badge badge-success">New</span>
                        </td>
                        <td>{{beacon.rssi}}</td>
                      </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <div class="row justify-content-md-center">
                <div class="col-8">
                    <div v-for="beacon in iBeacons_leave" class="alert alert-danger" role="alert">
                        iBeacon {{beacon}} has just left!
                    </div>
                </div>
            </div>
            
            
        </div>



        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script> <!-- include socket.io client side script -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
        <script>
            $(function() {
                var socket = io(); //load socket.io-client and connect to the host that serves the page
                // window.addEventListener("load", function(){ //when page loads
                //   var lightbox = document.getElementById("light"); 
                //   lightbox.addEventListener("change", function() { //add event listener for when checkbox changes
                //     socket.emit("light", Number(this.checked)); //send button status to server (as 1 or 0)
                //   });
                // });
                // socket.on('light', function (data) { //get button status from client
                //   document.getElementById("light").checked = data; //change checkbox according to push button on Raspberry Pi
                //   socket.emit("light", data); //send push button status to back to server
                // });
            
                
            
                var app = new Vue({
                  el: '#app',
                  data: {
                    iBeacons:[],
                    iBeacons_leave: [],
                    iBeacons_join: [],
                    title: 'iBeacons'
                  },
                  mounted() {
                      var _self = this;
                    socket.on('iBeaconsUpdate', function (data) { //get button status from client
                        console.log(data);
                        _self.iBeacons = data.iBeacons;
                        _self.iBeacons_leave = data.iBeacons_leave;
                        _self.iBeacons_join = data.iBeacons_join;
                    });
                  },
                  methods:{
                      checkNew: function(id){
                        var _self = this;
                        if(_self.iBeacons_join.includes(id))
                            return true;
                        else
                            return false;
                      }
                  }
                })
            });
        
        </script>
    </body>
</html>