<!DOCTYPE html>
<html>
    <header>
        <style>
            .popover{
                min-width: 50vw;
                max-width: unset !important;
            }
            .tray_ul{
                height: 250px;
                max-height: 250px;
                overflow-y: scroll;
            }
            /* .tray_ul::-webkit-scrollbar { 
                display: none;
            } */
            .tray_ul::-webkit-scrollbar-track
            {
            	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
            	border-radius: 6px;
                /* background-color: #F5F5F5; */
                background-color: transparent;
            }

            .tray_ul::-webkit-scrollbar
            {
            	width: 6px;
                /* background-color: #F5F5F5; */
                background-color: transparent;
            }

            .tray_ul::-webkit-scrollbar-thumb
            {
            	border-radius: 6px;
            	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            	background-color: #555;
            }



            .tray_li{
                transition: 500ms;
                /* overflow-y: scroll; */
            }
            .tray_li:hover{
                /* width: 400px; */
                height: 120px;
                /* position: absolute; */
                border-width: 2px !important;
                border-radius: 10px !important;
                list-style-position: inside;
                border: 3px solid #001f3f !important;

            }
            .tray_li:hover::after { 
                content: attr(data-remark); 
                position: absolute; 
                top: 50px;
                /* bottom: 0px;  */
                left: 17px; 
                font-size: 14px; 
                color: #111111 !important;
                /* font-style: italic;  */
                /* color: #FFFFFF;  */
                font-weight: 600;
            }
            .battery-li{
                float: right;
                position: absolute;
                right: 10px;
                top: 15px;
            }
        </style>
        <link rel="stylesheet" type="text/css" href="/src/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/src/css/timeline.css">
        <link rel="stylesheet" type="text/css" href="/src/css/open-iconic-bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/src/css/bootstrap-select.min.css">
        
    </header>
    <body>
        <div id="app">
            <nav class="navbar navbar-dark bg-dark">
                <a class="navbar-brand" href="#">{{title}}</a>
            </nav>

            <!-- <h1>Active iBeacon List</h1> -->
            <div class="container-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                            <div class="card" style="width:100%;">
                                <div class="card-header">
                                    <h2 class="text-center">{{dept}} In Tray</h2>
                                    <div class="text-center">
                                        <img src="/src/img/intray_128.png" class="rounded">
                                    </div>
                                </div>
                                <div class="tray_ul">
                                    <ul class="list-group list-group-flush">
                                        <li v-for="beacon in in_tray" class="list-group-item tray_li" v-bind:data-remark='beacon.current_trip.trip_remark'><img src="/src/img/folder_16.png" class="rounded" alt="">
                                            {{beacon.name}} - {{beacon.current_trip.trip_no}}
                                            <img v-bind:src="batterySrc(beacon.id)" class="rounded battery-li" alt="">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                            <div class="card" style="width:100%;">
                                <div class="card-header">
                                    <h2 class="text-center">{{dept}} Out Tray</h2>
                                    <div class="text-center">
                                        <img src="/src/img/outtray_128.png" class="rounded">
                                    </div>
                                </div>
                                <div class="tray_ul">
                                    <ul class="list-group list-group-flush">
                                        <li v-for="beacon in out_tray" class="list-group-item tray_li" v-bind:data-remark='beacon.current_trip.trip_remark'><img src="/src/img/folder_16.png" class="rounded" alt="">
                                            {{beacon.name}} - {{beacon.current_trip.trip_no}}
                                            <img v-bind:src="batterySrc(beacon.id)" class="rounded battery-li" alt="">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                            <div class="card" style="width:100%;">
                                <div class="card-header">
                                    <h2 class="text-center">Delivering</h2>
                                    <div class="text-center">
                                        <img src="/src/img/onTheFly_128.png" class="rounded">
                                    </div>
                                </div>
                                <div class="tray_ul">
                                    <ul class="list-group list-group-flush">
                                        <li v-for="beacon in on_the_fly" class="list-group-item tray_li" v-bind:data-remark='beacon.current_trip.trip_remark'><img src="/src/img/folder_16.png" class="rounded" alt="">
                                            {{beacon.name}} - {{beacon.current_trip.trip_no}}
                                            <img v-bind:src="batterySrc(beacon.id)" class="rounded battery-li" alt="">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                            <div class="card" style="width:100%;">
                                <div class="card-header">
                                    <h2 class="text-center">Completed</h2>
                                    <div class="text-center">
                                        <img src="/src/img/completed_128.png" class="rounded">
                                    </div>
                                </div>
                                <div class="tray_ul">
                                    <ul class="list-group list-group-flush">
                                        <li v-for="beacon in completed" class="list-group-item text-danger tray_li" v-bind:data-remark='beacon.trip_remark'>
                                            <span v-if="beacon.has_error" class="text-danger" v-on:click="getTripsByTripID(beacon.trip_id,$event)" data-placement="bottom" data-toggle="popover" data-container="body" data-placement="left" data-html="true" href="#" style="cursor: pointer;">
                                                <img src="/src/img/cross_16.png" class="rounded" alt="">
                                                {{beacon.beacon_name}} - {{beacon.trip_no}}
                                                <img v-bind:src="batterySrc(beacon.beacon_id)" class="rounded battery-li" alt="">
                                            </span>
                                            <span v-else class="text-success" v-on:click="getTripsByTripID(beacon.trip_id,$event)" data-placement="bottom" data-toggle="popover" data-container="body" data-placement="left" data-html="true" href="#" style="cursor: pointer;">
                                                <img src="/src/img/tick_16.png" class="rounded" alt="">
                                                {{beacon.beacon_name}} - {{beacon.trip_no}}
                                                <img v-bind:src="batterySrc(beacon.beacon_id)" class="rounded battery-li" alt="">
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                                <div id="popover-content" class="hide" style="display: none; width:40vw;">
                                    <div class='container-fluid'>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <h2>{{trip_popover.beacon_name}} - {{trip_popover.trip_no}}</h2>
                                            </div>
                                            <div class="col-lg-6">
                                                <div style="display: inline;">{{trip_popover.trip_remark}}</div>
                                            </div>
                                        </div> 
                                        <div class="row">
                                            <!-- <h3>{{trip_popover.beacon_name}}</h3> -->
                                            <ul v-if="trip_popover.has_error" class='htimeline'>
                                                <li v-for="trip_detail in trip_popover.tripDetails" v-bind:data-date='trip_detail.creation_date | toDateTime' class='step step_duration col-sm-4 red'><div>{{trip_detail.station}}</div><div class="duration" v-bind:data-duration='trip_detail.duration'></div></li>
                                            </ul>
                                            <ul v-else-if="trip_popover.is_completed" class='htimeline'>
                                                <li v-for="trip_detail in trip_popover.tripDetails" v-bind:data-date='trip_detail.creation_date | toDateTime' class='step step_duration col-sm-4 green'><div>{{trip_detail.station}}</div><div class="duration" v-bind:data-duration='trip_detail.duration'></div></li>
                                            </ul>
                                            <ul v-else class='htimeline'>
                                                <li v-for="trip_detail in trip_popover.tripDetails" v-bind:data-date='trip_detail.creation_date | toDateTime' class='step step_duration col-sm-4 orange'><div>{{trip_detail.station}}</div><div class="duration" v-bind:data-duration='trip_detail.duration'></div></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <br>
            <div class='container-fluid'> 
                <div class="container">
                    <select class="selectpicker" data-live-search="true" ref="select" v-model="selectedTrip" data-width="100%" data-style="btn-info">
                        <option disabled value="">Please select one</option>
                        <option value="all">All</option>
                        <option v-for="trip in trips" v-bind:value="trip._id">{{trip.beacon_name}} - {{trip.trip_no}}</option>
                    </select>        
                </div>

                <div v-for="trip in trips_filtered" class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <h2>{{trip.beacon_name}} - {{trip.trip_no}}</h2>
                        </div>
                        <div class="col-lg-6">
                            <!-- <a v-on:click="setModal(trip)"><span class="oi oi-pencil" ></span></a> -->
                            <div style="display: inline;float: left;margin-right: 10px;">
                                <button v-on:click="setModal(trip)" type="button" class="btn btn-light" data-toggle="modal" data-target="#remark_input_modal">
                                    <span class="oi oi-pencil"></span>
                                </button>
                            </div>
                            <div style="display: inline;">{{trip.trip_remark}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <ul v-if="trip.has_error" class='htimeline'>
                            <li v-for="trip_detail in trip.tripDetails" v-bind:data-date='trip_detail.creation_date | toDateTime' class='step step_duration col-sm-4 red'><div>{{trip_detail.station}}</div><div class="duration" v-bind:data-duration='trip_detail.duration'></div></li>
                        </ul>
                        <ul v-else-if="trip.is_completed" class='htimeline'>
                            <li v-for="trip_detail in trip.tripDetails" v-bind:data-date='trip_detail.creation_date | toDateTime' class='step step_duration col-sm-4 green'><div>{{trip_detail.station}}</div><div class="duration" v-bind:data-duration='trip_detail.duration'></div></li>
                        </ul>
                        <ul v-else class='htimeline'>
                            <li v-for="trip_detail in trip.tripDetails" v-bind:data-date='trip_detail.creation_date | toDateTime' class='step step_duration col-sm-4 orange'><div>{{trip_detail.station}}</div><div class="duration" v-bind:data-duration='trip_detail.duration'></div></li>
                        </ul>
                    </div>
                </div>
            </div>
           
            
            <!-- Modal -->
            <div class="modal fade" id="remark_input_modal" tabindex="-1" role="dialog" aria-labelledby="remark_input_modal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Remarks for {{modal.beacon_name}} - {{modal.trip_no}}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <textarea class="form-control" rows="5" v-model="modal.trip_remark"></textarea>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-success" data-dismiss="modal" v-on:click="updateRemark()">Save</button>
                    </div>
                  </div>
                </div>
            </div>
        </div>

        <script src="/src/js/jquery-3.3.1.slim.min.js"></script>
        <script src="/src/js/popper.min.js"></script>
        <script src="/src/js/bootstrap.min.js"></script>
        <script src="/src/js/moment.js"></script>
        <script src="/src/js/socket.io.js"></script>
        <script src="/src/js/axios.min.js"></script>
        <script src="/src/js/vue.js"></script>
        <script src="/src/js/bootstrap-select.min.js"></script>
        

        <script>
            $(function() {
                // var socket = io();            
                
                window.app = new Vue({
                  el: '#app',
                  data: {
                    isFocus: true,
                    pageMode:'trays',
                    intervals:{
                        updateTraysInterval: null,
                        updateBeaconsInterval: null
                    },
                    trays:[],
                    title: 'Intelligent Tray',
                    in_tray:[],
                    out_tray:[],
                    on_the_fly:[],
                    completed:[],
                    trips:[],
                    trip_popover:{

                    },
                    selectedTrip:'all',
                    
                    dept:'',

                    modal:{
                        beacon_name: '',
                        trip_no: '',
                        trip_id: '',
                        trip_remark: '',
                    },
                  },
                  mounted() {
                      var _self = this;

                      _self.checkActive();

                      _self.getBeaconsByDept('d');
                      _self.getTripsByDept();

                      _self.intervals.updateTraysInterval = setInterval(
                        function(){
                            if(_self.isFocus)
                            {
                                _self.getBeaconsByDept('d');
                                _self.getTripsByDept();
                            }
                        }
                    , 5000);

                    $('body').on('click', function (e) {
                        $('[data-toggle="popover"]').each(function () {
                            //the 'is' for buttons that trigger popups
                            //the 'has' for icons within a button that triggers a popup
                            if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                                $(this).popover('hide');
                            }
                        });
                    });
                  },
                  updated() {
		            $(this.$refs.select).selectpicker('refresh');
                  },
                  computed: {
                      trips_filtered: function(){
                          var _self = this;
                          if(_self.selectedTrip == '' || _self.selectedTrip == 'all')
                            return _self.trips;
                          else
                            return _self.trips.filter((trip) => {
                                    if (trip._id == _self.selectedTrip) { return trip; }
                                });
                      }
                  },
                  filters: {
                    toDateTime: function (value) {
                      if (!value) return ''
                      value = value.toString()
                      return moment(value).format('MM/DD/YYYY, h:mm:ss a (dddd)');
                    }
                  },
                  watch: {
                    completed: function (val) {
                        var _self = this;
                        // _self.nextTick(function () {
                        //     $("[data-toggle=popover]").popover({
                        //         html: true, 
                      	//         content: function() {
                        //             return $('#popover-content').html();
                        //         }
                        //     });
                        // });
                        
                    },
                  },
                  methods:{
                      batterySrc: function(battery_level){
                          var temp = battery_level.charCodeAt(battery_level.length-1) ;
                          if(temp % 3 == 0)
                            return '/src/img/battery_h_16.png';
                          else if(temp % 3 == 1)
                            return '/src/img/battery_m_16.png';
                          else
                            return '/src/img/battery_l_16.png';
                      },
                      checkActive:function(){
                        var _self = this;
                        { // the rest
                            console.log('chrome');
                            $(window).on('blur', windowBlurred);
                            $(window).on('focus', windowFocused);
                        }

                        function windowBlurred()
                        {
                            _self.isFocus = false;
                            console.log('isFocus = false');
                        }

                        function windowFocused()
                        {
                            _self.isFocus = true;
                            console.log('isFocus = true');
                        }
                      },
                      setModal: function(trip){
                        var _self = this;
                        _self.modal.beacon_name = trip.beacon_name;
                        _self.modal.trip_no = trip.trip_no;
                        _self.modal.trip_id = trip._id;
                        _self.modal.trip_remark = trip.trip_remark;
                      },
                      updateRemark:function(){
                        var _self = this;
                        axios.post('/trips/updateTripRemark', {
                            trip_id: _self.modal.trip_id,
                            trip_remark: _self.modal.trip_remark
                          }).then(function (response) {
                            console.log(response.data.message);
                          }).catch(function (error) {
                          console.log("Server offline!")
                        });
                        console.log(_self.modal);
                      },
                      getTripsByTripID: function(trip_id,event){
                        var _self = this;
                        axios.post('/trips/getTripsByTripID', {
                            trip_id: trip_id,
                          }).then(function (response) {
                                let trip = response.data.trip;
                                trip.tripDetails = trip.tripDetails.map(td => {
                                    return {...td, duration: null};
                                })
                                let td_length = trip.tripDetails.length;
                                for (var i = 0; i < td_length; i++ ){
                                    let start,end;
                                    if(i+1 == td_length)
                                    {
                                        start = moment(trip.tripDetails[i].creation_date);
                                        end = moment();
                                    }
                                    else
                                    {
                                        start = moment(trip.tripDetails[i].creation_date);
                                        end = moment(trip.tripDetails[i+1].creation_date);
                                    }
                                    var diff_days = parseInt(end.format('DDD')) - parseInt(start.format('DDD'));
                                    var diff_hours = parseInt(end.format('HH')) - parseInt(start.format('HH'));
                                    if(diff_hours < 0)
                                    {
                                        diff_hours = diff_hours + 24;
                                        diff_days = diff_days - 1;
                                    }
                                    var diff_mins = parseInt(end.format('mm')) - parseInt(start.format('mm'));
                                    if(diff_mins < 0)
                                    {
                                        diff_mins = diff_mins + 60;
                                        diff_hours = diff_hours - 1;
                                    }
                                    
                                    var duration = '';
                                    if(diff_days != 0)
                                        duration = duration + diff_days + (diff_days > 1 ?'days ': 'day ');
                                    if(diff_hours != 0)
                                        duration = duration + diff_hours + (diff_hours > 1 ? 'hrs ' : 'hr ');
                                    
                                    duration = duration + diff_mins + (diff_mins > 1 ? 'mins' : 'min ');
                                    trip.tripDetails[i].duration = duration;
                                }
                                console.log(trip);

                                _self.trip_popover = trip;
                                //_self.trip_popover = response.data.trip;
                                _self.$nextTick(function () {
                                    $(event.target).popover('show');
                                });
                                console.log(response);
                          }).catch(function (error) {
                          console.log("Server offline!")
                          console.log(error);
                        });
                      },
                      getTripsByDept: function(){
                        var _self = this;
                        let dept = getParameterByName('d');
                        _self.dept = dept;
                        axios.post('/trips/getTripsByDept', {
                            dept: dept,
                            }).then(function (response) {
                                let trip_list = response.data.trip_list;
                                for(let trip of trip_list){
                                    trip.tripDetails = trip.tripDetails.map(td => {
                                        return {...td, duration: null};
                                    })
                                    let td_length = trip.tripDetails.length;
                                    for (var i = 0; i < td_length; i++ ){
                                        let start,end;
                                        if(i+1 == td_length)
                                        {
                                            start = moment(trip.tripDetails[i].creation_date);
                                            end = moment();
                                        }
                                        else
                                        {
                                            start = moment(trip.tripDetails[i].creation_date);
                                            end = moment(trip.tripDetails[i+1].creation_date);
                                        }
                                        var diff_days = parseInt(end.format('DDD')) - parseInt(start.format('DDD'));

                                        var diff_hours = parseInt(end.format('HH')) - parseInt(start.format('HH'));
                                        if(diff_hours < 0)
                                        {
                                            diff_hours = diff_hours + 24;
                                            diff_days = diff_days - 1;
                                        }

                                        var diff_mins = parseInt(end.format('mm')) - parseInt(start.format('mm'));
                                        if(diff_mins < 0)
                                        {
                                            diff_mins = diff_mins + 60;
                                            diff_hours = diff_hours - 1;
                                        }
                                        
                                        var duration = '';
                                        if(diff_days != 0)
                                            duration = duration + diff_days + (diff_days > 1 ?'days ': 'day ');
                                        if(diff_hours != 0)
                                            duration = duration + diff_hours + (diff_hours > 1 ? 'hrs ' : 'hr ');
                                    
                                        duration = duration + diff_mins + (diff_mins > 1 ? 'mins' : 'min ');

                                        trip.tripDetails[i].duration = duration;
                                    }
                                    //trip_list.push({...trip, duration: null});
                                }
                                _self.trips = trip_list;
                                console.log(trip_list);
                                //_self.trips = response.data.trip_list;
                                //console.log(response);
                            }).catch(function (error) {
                            console.log("Server offline!")
                            console.log(error);
                        });
                      },
                      getBeaconsByDept: function(){
                        var _self = this;
                        let dept = getParameterByName('d');
                        _self.dept = dept;
                        axios.post('/beacons/getBeaconsByDept', {
                          dept: dept
                        })
                        .then(function (response) {
                          console.log(response);
                          _self.in_tray = response.data.beacons_in;
                          _self.out_tray = response.data.beacons_out;
                          _self.on_the_fly = response.data.beacons_on_the_fly;
                          _self.completed = response.data.beacons_completed;
                          _self.$nextTick(function () {
                              console.log('next-tick');
                                $("[data-toggle=popover]").popover({
                                    html: true, 
                      	            content: function() {
                                        return $('#popover-content').html();
                                    }
                                });
                          });

                          var beacons_out_id_list = response.data.beacons_out.map((beacon)=>{ 
                              return beacon.id; 
                            });
                        })
                        .catch(function (error) {
                          console.log("Server offline!")
                          console.log(error);
                        });
                      },
                      updateTrays: function(){             
                        var _self = this;
                        if(_self.pageMode == 'trays'){
                            axios.get('/beacons/getBeaconsByDept')
                            .then(function (response) {
                              // handle success
                              console.log(response);
                              _self.trays = response.data.traylist;
                            })
                            .catch(function (error) {
                              // handle error
                              console.log(error);
                            })
                            .then(function () {
                              // always executed
                            });
                        }
                      },
                      checkNew: function(id){
                        var _self = this;
                        if(_self.iBeacons_join.includes(id))
                            return true;
                        else
                            return false;
                      }
                  }
                })
            });

            function getParameterByName(name, url) {
                if (!url) url = window.location.href;
                name = name.replace(/[\[\]]/g, '\\$&');
                var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                    results = regex.exec(url);
                if (!results) return null;
                if (!results[2]) return '';
                return decodeURIComponent(results[2].replace(/\+/g, ' '));
            }
        
        </script>
    </body>
</html>