<!DOCTYPE html>
<html>
    <header>
        <link rel="stylesheet" type="text/css" href="/src/css/bootstrap.min.css">
        
    </header>
    <body>
        <div id="app">
            <nav class="navbar navbar-dark bg-dark">
                <a class="navbar-brand" href="#">{{title}}</a>
            </nav>

            <h1>Active iBeacon List</h1>
            <div class="container-fluid">
                <div v-for="tray in trays" class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h3 class="card-title">{{tray.dept}}</h5>
                        <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                        <div v-if="tray.dept == 'CART'">
                            <h5>{{tray.name}} <span class="badge badge-primary">{{tray.beacon_count}}</span></h5>
                        </div>
                        <div v-else>
                            <h5>{{tray.IN.name}} <span class="badge badge-primary">{{tray.IN.beacon_count}}</span></h5>
                            <h5>{{tray.OUT.name}} <span class="badge badge-primary">{{tray.OUT.beacon_count}}</span></h5>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        <script src="/src/js/jquery-3.3.1.slim.min.js"></script>
        <script src="/src/js/popper.min.js"></script>
        <script src="/src/js/bootstrap.min.js"></script>
        <script src="/src/js/socket.io.js"></script>
        <script src="/src/js/axios.min.js"></script>
        <script src="/src/js/vue.js"></script>
        

        <script>
            $(function() {
                // var socket = io();            
                
                window.app = new Vue({
                  el: '#app',
                  data: {
                    pageMode:'trays',
                    intervals:{
                        updateTraysInterval: null
                    },
                    trays:[],
                    title: 'iBeacons'
                  },
                  mounted() {
                      var _self = this;

                      //_self.updateTrays();

                      _self.intervals.updateTraysInterval = setInterval(function(){_self.updateTrays()}, 5000);
                    // socket.on('iBeaconsUpdate', function (data) { //get button status from client
                    //     console.log(data);
                    //     _self.iBeacons = data.iBeacons;
                    //     _self.iBeacons_leave = data.iBeacons_leave;
                    //     _self.iBeacons_join = data.iBeacons_join;
                    // });
                  },
                  methods:{
                      updateTrays: function(){             
                        var _self = this;
                        if(_self.pageMode == 'trays'){
                            axios.get('/beacons/test_group')
                            .then(function (response) {
                              // handle success
                              console.log('test_group');
                              console.log(response);
                              _self.trays = response.data.traylist;
                            })
                            .catch(function (error) {
                              // handle error
                              console.log(error);
                            })
                            .then(function () {
                              // always executed
                            });
                        }
                      },
                      checkNew: function(id){
                        var _self = this;
                        if(_self.iBeacons_join.includes(id))
                            return true;
                        else
                            return false;
                      }
                  }
                })
            });
        
        </script>
    </body>
</html>